# Virtual environment
venv/
.venv/

# Cache & temporary files
__pycache__/
*.pyc

# Environment variables
.env

# Jangan abaikan file model!
# (hapus *.pkl agar model/random_forest_model.pkl bisa ikut diupload)
